#content{border-left:1px solid #b8c1c7;border-radius:5px}
#content section:first-child header:first-child{border-radius:5px 5px 0 0;border-top:0}
#content header {border-top:1px solid #b8c1c7;border-radius:0}

#footer{color:#aaa}
#footer a{color:#fff}
#footer a:hover{text-decoration:underline}
#footer p{margin:5px 10px}

.navbar .brand{margin-left:0;padding-left:0}
.navbar a.btn{color:#fff;font-size:13px}
.text-right, td.text-right{text-align:right}

table tr.failed td { border-top:2px solid; font-size:90%; }
table tr.failed td { background:#ffecec; border-top:2px solid #d37474; font-size:90%; color:#d37474;}
table tr.failed td a{ color:#d37474;}

table.table-bordered{border-radius:0;}
table.table-bordered thead:first-child tr:first-child th:first-child,
table.table-bordered tbody:first-child tr:first-child td:first-child,
table.table-bordered tbody:last-child tr:last-child td:first-child,
table.table-bordered tbody:last-child tr:last-child td:last-child{border-radius:0}

p:last-child{margin-bottom:0}
