<section id="workers">
    <header>
        <h2>0 of 0 Workers Working</h2>
    </header>

    <div class="row-fluid">
        <div class="span12">
            <p>The list below contains all workers which are currently running a job.</p>

            <table class="table table-striped table-hover">
                <thead>
                    <th>Where</th>
                    <th>Queue</th>
                    <th>Processing</th>
                </thead>

                <tbody>
                {% for worker in workers %}
                {% else %}
                    <tr>
                        <td colspan="3">Nothing is happening right now...</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>
