{% extends '@Juno/layout.html.twig' %}

{% block tab 'Info' %}

{% block body %}
    <section id="Driver">
        <header>
            <div class="pull-right">
                <a class="btn btn-mini btn-primary" href="{{ app.router.generate('juno_info') }}">Bernard</a>
            </div>

            <h2>Driver</h2>
        </header>

        <div class="row-fluid">
            {% if info %}
                <p>The information below gives a good overview of the current driver. The information displayed is specific to the
                driver type used. In case you forgot you are using "<strong>{{ app['bernard.driver']|title }}</strong>".</p>

                <table class="table table-bordered table-hover">
                    <tbody>
                        {% for key, value in info %}
                            <tr>
                                <th width="50%">{{ key }}</th>
                                <td>{{ value|keys ? value|format_args : value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No information is available.</p>
            {% endif %}
        </div>
    </section>
{% endblock %}
