{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}

{% if pager.haveToPaginate %}
    <div class="pagination pagination-centered">
        <ul>
            {% if pager.hasPreviousPage %}
                <li><a href="{{ app.router.generate(route, route_params|merge({ 'page' : 1 })) }}">&laquo;&laquo;</a></li>
            {% endif %}

            {% if pager.currentPage > 1 %}
                <li><a href="{{ app.router.generate(route, route_params|merge({ 'page' : pager.previousPage })) }}">&laquo; less</a></li>
            {% endif %}

            {% if pager.hasNextPage %}
                <li><a href="{{ app.router.generate(route, route_params|merge({ 'page' : pager.nextPage })) }}">more &raquo;</a></li>

                <li><a href="{{ app.router.generate(route, route_params|merge({ 'page' : pager.nbPages })) }}">&raquo;&raquo;</a></li>
            {% endif%}
        </ul>
    </div>
{% endif %}
