@import url(http://fonts.googleapis.com/css?family=Alegreya:400,700);

body{background:#f9f6f1}
code{white-space:normal;font-size:11px;}
abbr{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:'Alegreya',serif;font-weight:700}

h3 .glyphicon{top:3px;margin-right:7px;}

a{color:#4d280b}
a:hover{color:#545454;text-decoration:underline}

.navbar-default .navbar-toggle{border:0}
.navbar-default .navbar-toggle:hover{background:#00AA7F}
.navbar-default .navbar-toggle:focus{background:#00AA7F}
.navbar-default .navbar-toggle .icon-bar{background:#fff;}

.navbar-default{margin-bottom:0;background:#ffd700}
.navbar-default .navbar-brand{color:#fff;font-weight:bold;font-size:22px}
.navbar-default .navbar-brand:hover{color:#fff;}

.navbar-static-top{border-bottom-width:0px}

.navbar-juno{background:#fff;border-bottom:1px solid #d6d6d6}
.navbar-juno .nav li{border-left:1px solid #d6d6d6;height:60px;min-width:90px;}
.navbar-juno .nav li:last-child{border-right:1px solid #d6d6d6}
.navbar-juno .nav li a{color:#b2afaa;text-align:center;padding:10px 20px 5px;}
.navbar-juno .nav li a:hover{color:#888;background:none;}
.navbar-juno .nav li.active a{color:#000;border-bottom:3px solid orange}
.navbar-juno .glyphicon{display:block;font-size:20px;margin:0 auto 5px}

.panel-default{border-color:#d5d5d5;overflow:hidden;}
.panel-default .panel-heading{background-color:#f9f6f1;color:#525252;background:-webkit-linear-gradient(top, #f9f6f1 0%,#f2efea 100%)}

.col-md-6 .panel-default .panel-body + .table-responsive{border-top:0}

.pagination li.active a,.pagination li.active a:hover{background:#00AA7F;border-color:#00AA7F;font-weight:bold;}

.table-pretty-headers th{text-transform:capitalize}

@media (max-width: 768px) {
    .navbar-juno{min-height:0px}
}

@media (min-width: 768px) {
    .panel-default .table-responsive .table-messages tbody tr:last-child > td{border-bottom:1px solid #ddd}
}
