<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-cog"></span> Consumers</h3>
    </div>

    <div class="panel-body">
        The list below shows all currently running consumers.
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Uptime</th>
                    <th width="1">Process</th>
                    <th width="1">Status</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="consumer in consumers">
                    <td>{{ consumer.name }}</td>
                    <td ng-if="consumer.running">{{ consumer.uptime * 1000 | timeAgo }}</td>
                    <td ng-if="consumer.running == false">~</td>
                    <td class="text-center">{{ consumer.process || '~' }}</td>
                    <td class="text-center">
                        <span ng-if="consumer.running" class="label label-success">OK</span>
                        <span ng-if="consumer.running == false" class="label label-danger">ERROR</span>
                    </td>
                </tr>

                <tr ng-if="consumers | empty">
                    <td colspan="4">No consumers running...</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
