<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-film"></span> Queues</h3>
    </div>

    <div class="panel-body">
        The list below contains all the registered queues with the number of messages currently in the queue. Select a queue from below to view all messages currently pending on the queue.
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th width="1">Status</th>
                    <th width="1">Messages</th>
                </tr>
            </thead>

            <tbody>
                {% verbatim %}
                    <tr ng-repeat="queue in queues | orderBy:'+name'">
                        <td><a ng-href="./queue/{{ queue.name }}">{{ queue.name }}</a></td>
                        <td class="text-center">
                            <span ng-if="queue.count < 50" class="label label-success">OK</span>
                            <span ng-if="queue.count >= 50" class="label label-warning">WARNING</span>
                        </td>
                        <td class="text-right">{{ queue.count | number }}</td>
                    </tr>

                    <tr ng-if="queues | empty">
                        <td colspan="3">No queues yet...</td>
                    </tr>
                {% endverbatim %}
            </tbody>
        </table>
    </div>
</div>
