<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-film"></span> Queue "{{ queue.name }}"</h3>
    </div>

    <div class="panel-body">
        Showing page {{ page }} of {{ pages }}.
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-messages">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Arguments</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="message in queue.messages">
                    <td style="white-space:nowrap">{{ message.timestamp * 1000 | date:'medium' }}</td>
                    <td><abbr title="{{ message.class }}">{{ message.name }}</abbr></td>
                    <td ng-if="message.arguments"><code>{{ message.arguments | json }}</code></td>
                    <td ng-if="message.arguments | empty"><code>~</code></td>
                </tr>

                <tr ng-if="queue.messages | empty">
                    <td colspan="3">No messages in this queue...</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <ul class="pagination pagination-sm">
            <li ng-if="page > 1"><a href="queue/{{ queue.name }}">&laquo;&laquo;</a></li>
            <li ng-if="page > 1"><a href="queue/{{ queue.name }}?page={{ page - 1 }}">&laquo; less</a></li>

            <li ng-class="{'active' : index + 1 == page}" ng-repeat="index in [] | pagination:page:pages">
                <a href="queue/{{ queue.name }}?page={{ index + 1 }}">{{ index + 1 }}</a>
            </li>

            <li ng-if="page < pages"><a href="queue/{{ queue.name }}?page={{ page + 1 }}">more &raquo;</a></li>
            <li ng-if="page < pages"><a href="queue/{{ queue.name }}?page={{ pages }}">&raquo;&raquo;</a></li>
        </ul>
    </div>
</div>
