{% extends '@Juno/layout.html.twig' %}

{% block tab 'Consumers' %}

{% block body %}
    <section id="consumers">
        <header>
            <h2>Consumers</h2>
        </header>

        <div class="row-fluid">
            <div class="span12">
                <p>The list below shows all currently running consumers.</p>

                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <th>Where</th>
                        <th>Queue</th>
                        <th>Processing</th>
                    </thead>

                    <tbody>
                    {% for consumer in consumers %}
                    {% else %}
                        <tr>
                            <td colspan="3">Coming soon...</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
{% endblock %}
